<!DOCTYPE html>
<html lang="ja" class="fill">
	<head>
		<meta charset="utf8">
		<title>Electron with TypeScript</title>
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
		<link href="./vendors/normalize-5.0.0.min.css" rel="stylesheet">
		<link href="./css/style.css" rel="stylesheet">
	</head>
	<body class="fill">
		<div id="main" class="fill bc-1 flex column">
			<div class="fill-x h-hq bc-2 fix flex">
				<div class="w-6 h-hq bc-2 fix flex">
					<div class="wh-hq fix flex center">
						<img src="http://www.google.com/s2/favicons?domain=github.com">
					</div>
					<div class="fit h-hq flex row-center">GitHub</div>
					<i class="wh-hq fix flex center fa fa-times"></i>
				</div>
				<div class="w-6 h-hq bc-1 fix flex">
					<div class="wh-hq fix flex center">
						<img src="http://www.google.com/s2/favicons?domain=localhost">
					</div>
					<div class="fit h-hq flex row-center">localhost</div>
					<i class="wh-hq fix flex center fa fa-times"></i>
				</div>
			</div>
			<div class="fill-x h-1 bc-2 fix flex center">
				<i class="wh-1 fix flex center fa fa-arrow-left" @click="back"></i>
				<i class="wh-1 fix flex center fa fa-arrow-right" @click="forward"></i>
				<i class="wh-1 fix flex center fa fa-redo" @click="reload"></i>
				<input type="search" class="fit h-hq less" @keyup.enter="load" v-model="text" autocomplete="on">
			</div>
			<webview class="fill-x fit" v-model="webpreferences" src="" @dom-ready="prepare" @did-start-loading="prepare" @keyup.ctrl.73="openDevTools"></webview>
		</div>
		<script src="./js/bundle.js"></script>
	</body>
</html>
